<html lang="en">
<head> 
	<title>PreCogTask</title>
	 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
     <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
     <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/new.css') }}">
</head>
<body>
<div id="boxWrapper">
	<div class = "page-header">
	<h1> PreCog Task: Kejriwal or Modi </h1>
</div>
<div class="container">
  <form id='upload-form' action="/" method="POST" enctype="multipart/form-data">

  	<label for="fname">Upload Image (.jpg/.jpeg | Max Size: 1 Mb)</label>
  	<input type="file" name="file" accept="image/jpg, image/jpeg">
    <input type="submit" value="Submit">
	 </form>
</div>
<div class="box">
<h2> <center> Results </center></h2>
<table class="table"border="1px">
  <tr>
    <td align="center" width="200">Detected Faces: </td>
    <td align="center" width="200">{{faces}}</td>
    <td align="center" rowspan="3"> <img src="{{source}}" width="150" height="150" onerror="this.src='/static/upload.png'"></td>
  </tr>
  <tr>
    <td align="center" width="200">Arvind Kejriwal: </td>
    <td align="center" width="200">{{AK}}</td>
  </tr>
   <tr>
    <td align="center" width="200">Narendra Modi: </td>
    <td align="center" width="200">{{NM}}</td>
  </tr>
</table>
</div>
</div>
</body>
</html>